body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/field.jpeg");
    color: #413c38;
}

.headings {
    color: #596050;
}

#content {
    background: #c3c3c3;
    padding:5px;
    margin:20px auto;
    width:80%;
    border-radius: 10px;
    border:5px solid #9aa359;
}

#main-nav ol {
    padding-left:0px; /*removes left padding*/
    width:fit-content;
    margin: auto;
}

#main-nav li {
    list-style-type: none; /*no bullets*/
    display:inline-block; /*appear on one line*/
}

#main-nav a {
    text-decoration: none; /*no underline*/
    background:#8e9845;
    color:#d9d9d9;
    padding: 1px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background:white;
    color: #596050;
}

img {
    border: 5px dashed #d9d9d9;
    padding: 5px;
}

table, th {
    border: 1px solid;
    width: 40%;
    margin: auto;
    padding: 5px;
    background: #c0c698;
    color: #596050
  }

td {
    border: 1px solid;
    width: 40%;
    margin: auto;
    padding: 5px;
    background: #e4e4e4;
    color: #596050
}