/* Structure */
:root {
    --main-background: #2B7A78;
    --secondary-background: #3AAFA9;
    --div-background: #DEF2F1;
    --slider-background: #d3d3d3;
    --text-color: #17252A;
  
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-background);
  }
  
  #content {
    padding: 5px;
    width: 50%;
    margin: 0px;
  }
  
  #draw-div {
    margin: auto;
    width: 40%;
    background: var(--div-background);
    border: solid var(--text-color);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #input {
    margin-left: 70px;
  }

  #error {
    color: red;
  }

  footer {
    text-align: center;
  }

  .black {
    margin: auto;
    background: black;
    width: 400px;
    height: 500px;
  }

  #space {
    position: relative;
  }

  /* Star Shape */
  /* Shape taken from this website: https://css-shape.com/star/ */
  .star {
    width: 20px; 
    position: absolute;
    aspect-ratio: 1;
    background: #F8CA00;
    clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
    ); 
  }
  
  /* Typography */
  h1 {
    color: var(--text-color);
    text-align: center;
  }
  
  h2 {
    color: var(--text-color);
    text-align: center;
  }
  
  /* Larger Resolutions */
  @media only screen and (min-width: 600px) {
    #content {
      width: 90%;
      margin: auto;
    }
  
    .columns {
      display: flex;
      column-gap: 100px;
    }
  
    .columns > * {
      padding: 10px;
      margin: 0px;
    }
  
    .one {
      flex: 1;
    }
  }
    