/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #5c6450;
    background: #B2BF9F;
}

#main-content h2 {
    text-align: center;
}

#content {
    background: #ebf0e5;
    padding:5px;
    margin:20px auto;
    width:80%;
    border-radius: 10px;
    border:5px solid #95a67c;
}

#main-header h1, p {
    text-align: center;
}

#assignments1 section {
    background: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

#assignments1 a {
    text-decoration: none; /*no underline*/
    list-style-type: none; /*no bullets*/
    color:#5c6450;
}

#assignments1 p {
    text-align: left;
}

#assignments2 section {
    background: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

#assignments2 a {
    text-decoration: none; /*no underline*/
    list-style-type: none; /*no bullets*/
    color:#5c6450;
}

#assignments2 p {
    text-align: left;
}

#projects1 section {
    background: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

#projects1 a {
    text-decoration: none; /*no underline*/
    list-style-type: none; /*no bullets*/
    color:#5c6450;
}

#projects1 p {
    text-align: left;
}

#projects2 section {
    background: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

#projects2 a {
    text-decoration: none; /*no underline*/
    list-style-type: none; /*no bullets*/
    color:#5c6450;
}

#projects2 p {
    text-align: left;
}

img {
    max-width: 100%;
}

/* Typography */
h2 {
    text-align: left;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    #main-nav li {
        flex: 1;
    }
}